*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font */

@font-face {
    font-family: 'fira-sans';
    src: url(../fonts/fira-sans.regular.ttf);
}

body{
    font-family: 'Fira-sans', sans-serif;
    background-color: #f1f1f3;
    width: auto;
    padding: 40px;
}

.main-container{
    max-width: 1280px;
    margin: auto;
}



/* Shared Styles */

.text-color{
    color: #0e0e0e;
}

.btn-primary{
    background-color: #006a50;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
}

/* Header Styling */

header{
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-block: 31px;
    margin-bottom: 20px;
}

nav button{
    width: 116px;
    height: 52px;
    box-sizing: border-box;
    padding: 15px 30px;
    border: 1px solid #006a50;
    border-radius: 8px;
    color: #006a50;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 1px 1px 5px #006a50;
}

nav button:hover{
    background-color: #006a50;
    color: #fdfdfd;
    border-radius: 10px;
}

nav > h3{
    font-size: 32px;
}

/* Main-Part Styling */

/* Banner */

.banner{
    width: 100%;
    height: 560px;
    background-color: #c6e4d6;
    border-radius: 24px;
    padding: 80px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.banner-text{
    width: 60%;
    height: 326px;
}

.banner-text > p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-text > h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 24px;
}

.banner-image{
    width: 38%;
    margin-top: 20px;
}

.banner-image > img{
    width: 100%;
    margin: auto;
}

/* Pillars styling */

.pillars{
    margin-top: 150px;
    height: 324px;
    width: 100%;

}

.pillars > h3{
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 40px;
    margin-bottom: 32px;
    text-align: left;
}

.pillar-card{
    width: 23%;
    height: 270px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
}

.pillar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pillar-card > img{
    margin-bottom: 25px;
}

.pillar-card > h4{
    margin-bottom: 12px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.pillar-card > p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* Vision Section Styling */

.vision{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.vision > h3{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}

.vision > p{
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vision-card{
    height: 350px; 
    width: 30%;
    border-radius: 16px;
    padding: 24px;
}


.vision-card:nth-child(3){
    background-color: #f7ebcf;
}

.vision-card:nth-child(3) > button{
    background-color: #ffc239;
}

.vision-card:nth-child(2){
    background-color: #c6e4d6;
}

.vision-card:nth-child(2) > button{
    background-color: #09a15c;
}

.vision-card:nth-child(1){
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-card:nth-child(1) > button{
    background-color: #5490f5;
}

.vision-card > button,
.news-text > button{
    color: #fff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}

.vision-card > button:hover,
.news-text > button:hover{
    color: #fff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ff6347;
}



.vision-card > img{
    margin-bottom: 25px;
}

.vision-card > h4{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.vision-card > p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 48px;
}

/* Quote Styling */

.quote{
    margin-top: 80px;
    width: 100%;
    height: 256px;
    background-image: url("../assets/quote-bg.png");
    background-color: #fff;
    background-position: 24px 24px;
    background-repeat: no-repeat;
    padding: 48px 24px;
    border-radius: 16px;
}

.quote > p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.quote > h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
    margin-bottom: 4px;
}

/* Table styling */

.opinion-table{
    width: 100%;
    margin: auto;
}

.opinion-table > h3{
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
    font-size: 40px;
}

.table{
    background-color: #fff;
    height: 409px;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
}

table{
    height: 345px;
    width: 1016px;
    margin: auto;
}

td{
    padding: 20px;
}

thead{
    height: 72px;
    background-color: #c6e4d6;
}

thead > tr > th{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
}

tbody > tr > td{
    font-size: 16px;
    color: rgba(14, 14, 14, 1);
    font-weight: 600;
}

table,
tr,
td {
    border: 3px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}

select{
    padding: 10px 14px;
    background-color: #c6e4d6;
    color: #0e0e0e;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #222;
    border-radius: 4px;
}

/* News Section Styling */

.news{
    width: 100%;
    margin-top: 140px;
}

.news > h3{
    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e;
    width: 100%;
}

.news > p{
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    width: 95%;
}

.news1{
    width: 100%;
    height: 402px;
    padding: 48px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.news-image{
    width: 40%;
}

.news-text{
    width: 55%;
}

.news-text > h4{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.news-text > img{
    margin-block: 12px;
    width: 134px;
    height: 40px;
}

.news-text > p{
    color:rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.news-text > p:nth-child(even){
    margin-top: 12px;
    margin-bottom: 32px;
}

.news-image > img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.news-button{
    background-color: #006a50;
}

/* Donate section styling */

.donate{
    height: 600px;
    width: 90%;
    text-align: center;
    margin: 150px auto;
}

.donate > h3{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}

.donate > p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    margin-bottom: 32px;
}

.donate-cards{
    height: 264px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.donate-card{
    width: 220px;
    height: 120px;
    text-align: center;
    color: rgba(14, 14, 14, 0.15);
    border: 1px solid #aaa;
    border-radius: 16px;
    box-shadow: 1px 1px 5px #aaa;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-block: 32px;
}

.taka{
    background-color: #9ac4b9;
}

.donate > input{
    display: block;
    margin: 32px auto;
    width: 950px;
    height: 64px;
    padding-block: 20px;
    text-align: center;
    font-size: 18px;
    color: rgba(14, 14, 14, 0.15);
    border: none;
}

.donate > input:hover,
.donate > input:focus,
.donate > input:active{
    background-color: #ddd;
    color: #fff;
    border-radius: 24px;
    border: none;
    outline: none;
}

.donate > button{
    padding: 12px 22px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.donate > button:hover {
    background-color: #ff6347;
    color:rgba(14, 14, 14, 1)
}

/* Subscribe section styling */

.subs{
    display: block;
    text-align: center;
    width: 100%;
    height:400px;
    padding: 80px 100px;
    margin: 140px auto;
    border: none;
    border-radius: 24px;
    background-color: #c6e4d6;
}

.subs > h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color:rgba(14, 14, 14, 1);
}

.subs > p{
    width: 70%;
    margin: 16px auto;
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    margin-bottom: 16px;
}

.subs > input{
    display: inline;
    margin: 0;
    width: 80%;
    height: 55px;
    background-color: #fff;
    border-radius: 18px 0 0 18px;
    padding: 10px 20px;
    color: rgba(14, 14, 14, 0.5);
    border: none;
    outline: none;
}

.subs > input:hover,
.subs > input:active,
.subs > input:active{
    outline: 0;
    border: none;
    background-color: #ddd;
    color: #000;
}

.subs-button{
    height: 55px;
    width: 10%;
    background-color: #006a50;
    border: none;
    border-radius: 0 18px 18px 0;
    color: #fff;
}

.subs-button:hover,
.subs-button:focus,
.subs-button:active{
    outline: 0;
    border: none;
    background-color: #ff6347;
    color: #000;
}

/* Footer styling */

footer{
    width: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}

footer > p{
    font-size: 22px;
    color:rgba(14, 14, 14, 0.8);
    margin: 20px;
}

footer > hr{
    width: 70%;
    margin: 20px auto;
    border: 2px solid rgba(14, 14, 14, 0.1);
}

footer > img{
    margin: 20px 10px;
}